body {
    background-color: black;
    font-family: BlinkMacSystemFont, "Inter", sans-serif;
    font-size: medium;
    font-weight: 500;
    color: white;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    align-items: left;
}

#lg {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

#lg:hover {
    filter: brightness(.7);
}